# SQL Server
SQL_SERVER=localhost
SQL_PORT=1433
SQL_DATABASE=DespesaPublicaDB
SQL_USER=sa
SQL_PASSWORD=SqlServer@2024!

# MinIO (S3-compatible)
MINIO_ENDPOINT=http://localhost:9020
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_LANDING=landing-zone
MINIO_BUCKET_BRONZE=bronze
